<span id="typing">
<h1 id="welcome">FACEMOOD</h1>
<img id="imgH" src="/assets/content_emoji_reactions">
</span>
<script>
  var app_id= '<%=Rails.application.secrets.kairos_app_id%>';
  var app_key='<%=Rails.application.secrets.kairos_app_key%>';
</script>
<%= javascript_pack_tag 'application' %>
