<h1>Welcome to Face and emotion recognition app</h1>
<script>
  var app_id= '<%=Rails.application.secrets.kairos_app_id%>';
  var app_key='<%=Rails.application.secrets.kairos_app_key%>';
</script>
<%= javascript_pack_tag 'application' %>
